body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}

#map-container {
  position: relative;
  width: 100%;
  height: 100%; 
}

/* Legend styles */
.legend-container {
  position: absolute;
  bottom: 15px; 
  left: 50%; 
  transform: translate(-50%); 
  width: 550px;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend-container h3 {
  font-family: 'Helvetica'; 
  font-size: 22px;
  font-weight: bold; 
  font-style: normal; 
  margin: 0 0 10px 0; 
}

#year-range-display {
  font-size: 18px; 
  font-family: Helvetica;
  text-align: center; 
  margin-top: -5px;
}

/* Slider styles */
#color-ramp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#slider-container {
  position: relative;
  width: 100%;
  height: 60px; 
}

#slider-track {
  width: 100%;
  height: 20px;
  background: linear-gradient(to right,
  #3e007c 15%,
  #000ac9 20%,     
  #2bace8 56%,    
  #cc0000 81%,
  #f1e260 99%    
);
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#slider-range {
  position: absolute;
  height: 10px;
  background: transparent;
  border-radius: 5px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
}

#slider-blur {
  position: absolute;
  height: 21px;
  width: 100%;
  border-radius: 5px;
  border-radius: 0px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-handle {
  position: absolute;
  height: 20px;
  width: 5px;
  border-radius: 4px; 
  background: #353535;
  border: 2px solid #cacaca;
  cursor: pointer;
  z-index: 3;
}

#slider-handle-1 {
  left: 0; 
  top: 50%; 
  transform: translateY(-50%);
}

#slider-handle-2 {
  right: 0; 
  top: 50%;
  transform: translateY(-50%);
}

#slider-labels {
  position: absolute;
  font-size: 14px;
  font-family: Helvetica;
  width: 100%;
  top: 40px; 
  left: 0;
  pointer-events: none;
}

.slider-label {
  position: absolute; 
  transform: translateX(-50%); 
  white-space: nowrap; 
  padding: 2px 5px;
  border-radius: 3px; 
}

.label {
  font-size: 18px; 
  text-align: center;
  color: black; 
}


/* Info panel styles */
#info-panel {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px; 
  width: 500px; 
  height: 45px; 
  overflow: hidden; 
  z-index: 1000;
  font-size: 22px;
  font-family: Helvetica;
  align-items: center;
  justify-content: center;
  text-align: center; 
}


#info-content {
  margin: 0;
  padding: 0; 
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}


/* Footer styles */
footer.credits {
  position: absolute; 
  bottom: 1px; 
  right: 1px;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-family: Helvetica;
  color: black;
}

footer.credits p {
  margin: 0;
}

footer.credits a {
  color: #858585;
  text-decoration: none;
}

footer.credits a:hover {
  text-decoration: underline;
}

footer.credits .separator {
  color: #858585; 
  margin: 1 5px;  
}

footer.credits .data-text {
  color: #858585; 
}


/* Make text unselectable */
#year-range-display, 
.slider-label, 
#construction-year,
.legend-container, 
#info-panel, 
#info-content,
#slider-ticks, #slider-labels {
  user-select: none;
}